[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/vendor/start/surround"]
	path = pack/vendor/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "pack/vendor/start/repeat"]
	path = pack/vendor/start/repeat
	url = https://tpope.io/vim/repeat.git
