[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/vendor/start/surround"]
	path = pack/vendor/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "pack/vendor/start/repeat"]
	path = pack/vendor/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "pack/myMajorModifications/start/CreateCodeBlocks"]
	path = pack/myMajorModifications/start/CreateCodeBlocks
	url = git@github.com:SonkeWohler/CreateCodeBlocks.git
[submodule "pack/myMajorModifications/start/vimkasten"]
	path = pack/myMajorModifications/opt/vimkasten
	url = git@github.com:SonkeWohler/vimkasten.git
[submodule "pack/myMajorModifications/opt/vim-markdown"]
	path = pack/myMajorModifications/opt/vim-markdown
	url = git@github.com:SonkeWohler/vim-markdown.git
