[submodule "pack/vendor/start/surround"]
	path = pack/vendor/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "pack/vendor/start/repeat"]
	path = pack/vendor/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "pack/vendor/opt/vim-dim"]
	path = pack/vendor/opt/vim-dim
	url = git@github.com:jeffkreeftmeijer/vim-dim.git
[submodule "pack/vendor/opt/vim-colors-solarized"]
	path = pack/vendor/opt/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "pack/vendor/start/vim-vinegar"]
	path = pack/vendor/start/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "pack/vendor/start/vim-markdown"]
	path = pack/vendor/start/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "pack/vendor/start/vimtex"]
	path = pack/vendor/start/vimtex
	url = git@github.com:lervag/vimtex.git
[submodule "pack/vendor/start/syntastic"]
	path = pack/vendor/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "pack/vendor/start/rust.vim"]
	path = pack/vendor/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "pack/vendor/start/xml.vim"]
	path = pack/vendor/start/xml.vim
	url = https://github.com/othree/xml.vim.git
[submodule "pack/vendor/start/vim-obsession"]
	path = pack/vendor/start/vim-obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule "pack/vendor/start/fzf.vim"]
	path = pack/vendor/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "pack/vendor/start/fzf"]
	path = pack/vendor/start/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "pack/vendor/start/vim-tbone"]
	path = pack/vendor/start/vim-tbone
	url = git@github.com:tpope/vim-tbone.git
[submodule "pack/vendor/start/vim-easymotion"]
	path = pack/vendor/start/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "pack/vendor/start/vim-javascript"]
	path = pack/vendor/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "pack/vendor/start/typescript-vim"]
	path = pack/vendor/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "pack/vendor/start/vim-pythonsense"]
	path = pack/vendor/start/vim-pythonsense
	url = git@github.com:jeetsukumaran/vim-pythonsense.git
[submodule "pack/vendor/start/vim-commentary"]
	path = pack/vendor/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "pack/vendor/start/ale"]
	path = pack/vendor/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "pack/vendor/start/vim-abolish"]
	path = pack/vendor/start/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "pack/vendor/start/vim-speeddating"]
	path = pack/vendor/start/vim-speeddating
	url = git@github.com:tpope/vim-speeddating.git
