[Unit]
Description='You should try to move regularly, this should help'

[Timer]
OnBootSec=1h
OnUnitActiveSec=1h
Unit=remind-me-to-move.service

[Install]
WantedBy=timers.target
