[Desktop Entry]
Exec=/bin/sonke_system_startup.bash
Icon=dialog-scripts
Name=sonke_system_startup.bash
Path=
Type=Application
X-KDE-AutostartScript=true
